* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: inherit;
    height: auto;
}
.container {
    max-width: 1400px;
    font-family: Open Sans;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
}
.logo, .cart {
    width: 50%;
    display: inline-block;
    text-align: left;
}
.logo {
    float: left;
}
.header:after {
    content: "";
    display: block;
    clear: both;
}
.cart {
    float: right;
    text-align: right;
    font-size: 35px;
    color: #a1a1a1;
}
.cart img {
    margin-right: 10px;
}
.navi {
    background-color: #4ccfc1;
    color: white;
    font-size: 16px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.navi-button {
    display: inline-block;
    text-align: left;
}
.navi-pc {
    display: none;
}
.navi-pc a {
    text-decoration: none;
    color: white;
    display: block;
}
.navi-pc ul {
    list-style-type: none;
}
.navi-pc li {
    display: inline-block;
    padding: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.navi-pc li:hover {
    background-color: white;
}
.navi-pc a:hover {
    color: #4ccfc1;
}
.banner{
    background-color: #3cc5b8;
    color: white;
}
#banner-title {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
}
#banner-button {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    border: 3px solid white;
    font-weight: bold;
    color: white;
    border-radius: 10px 10px;
}
.category {
    background-color: white;
    margin-top: 40px;
    color: black;
}
.cate-card {
    margin-bottom: 20px;
}
.product {
    margin-bottom: 30px;
}
.pro-title {
    font-weight: bold;
    color: #afafaf;
    font-size: 20px;
    margin-bottom: 20px;
}
.shop {
    background-color: #3cc395;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}
.shop:hover, img:hover {
    opacity: 0.6;
}
#feature-title {
    font-weight: bold;
    font-size: 20px;
}
#feature-title {
    text-align: left;
    padding-left: 10%;
    padding-bottom: 10px;
}
.pro-card {
    margin-bottom: 30px;
    border-bottom: 5px solid #3cc395;
    padding: 10px;
    padding-bottom: 20px;
}
.price {
    font-size: 18px;
    color: #afafaf;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
}
.small-footer {
    background-color: #3cc4b4;
    color: white;
    padding: 15px;
}
.big-footer {
    display: none;
}
@media screen and (min-width: 600px) {
    .column-tb-1-8 {
        width: 12.5%;
    }
    .column-tb-2-8 {
        width: 25%;
    }
    .column-tb-3-8 {
        width: 37.5%;
    }
    .column-tb-4-8 {
        width: 50%;
    }
    .column-tb-5-8 {
        width: 62.5%;
    }
    .column-tb-6-8 {
        width: 75%;
    }
    .column-tb-7-8 {
        width: 87.5%;
    }
    .column-tb-8-8 {
        width: 100.5%;
    }
    .cate-card-img, .cate-text {
        display: inline-block;
        text-align: center;
        height: 100px;
        margin: auto;
        float: left;
    }
    .cate-card-img {
        height: 180px;
        margin: auto;
        padding: 10px;
        margin-left: 12.5%;
    }
    .cate-text {
        padding: 10px;
        margin-top: 30px;
    }
    .cate-card:after {
        content: "";
        display: block;
        clear: both;
    }
}
@media screen and (min-width: 768px) {
    .column-tbm-1-12 {
        width: 8.3333333%;
    }
    .column-tbm-2-12 {
        width: 16.6666667%;
    }
    .column-tbm-3-12 {
        width: 25%;
    }
    .column-tbm-4-12 {
        width: 33.3333333%;
    }
    .column-tbm-5-12 {
        width: 41.6666667%;
    }
    .column-tbm-6-12 {
        width: 50%;
    }
    .column-tbm-7-12 {
        width: 58.3333333%;
    }
    .column-tbm-8-12 {
        width: 66.6666667%;
    }
    .column-tbm-9-12 {
        width: 75%;
    }
    .column-tbm-10-12 {
        width: 83.3333333%;
    }
    .column-tbm-11-12 {
        width: 91.6666667%;
    }
    .column-tbm-12-12 {
        width: 100%;
    }
    .banner-img {
        display: inline-block;
        float: left;
        margin-left:16.6666667%;
        padding-top: 30px;
    }
    .banner-text {
        display: inline-block;
        text-align: left;
        font-size: 20px;
    }
    #banner-title {
        font-size: 40px;
    }
    .banner-top {
        padding: 20px;
    }
    .banner-top:after {
        content: "";
        display: block;
        clear: both;
    }
    .pro-card {
        display: inline-block;
        margin-right: 25px;
        margin-left: 25px;
    }
    .big-footer {
        display: block;
        background-color: #3bc3b4;
        color: white;
    }
    .footer-card {
        display: inline-block;
        text-align: left;
        margin-right: 15px;
    }
    .footer-card ul {
        list-style-type: none;
        padding: 0;
    }
    .footer-card a {
        color: white;
        text-decoration: none;
    }
    .footer-title {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 18px;
    }
}
@media screen and (min-width: 1024px) {
    .column-pc-1-12 {
        width: 8.3333333%;
    }
    .column-pc-2-12 {
        width: 16.6666667%;
    }
    .column-pc-3-12 {
        width: 25%;
    }
    .column-pc-4-12 {
        width: 33.3333333%;
    }
    .column-pc-5-12 {
        width: 41.6666667%;
    }
    .column-pc-6-12 {
        width: 50%;
    }
    .column-pc-7-12 {
        width: 58.3333333%;
    }
    .column-pc-8-12 {
        width: 66.6666667%;
    }
    .column-pc-9-12 {
        width: 75%;
    }
    .column-pc-10-12 {
        width: 83.3333333%;
    }
    .column-pc-11-12 {
        width: 91.6666667%;
    }
    .column-pc-12-12 {
        width: 100%;
    }
    .navi-pc {
        display: inline-block;
        text-align: center;
        margin-left: 1.3333333%;
    }
    .navi-pc li {
        margin-right: 10px;
    }
    .navi {
        text-align: center;
    }
}
@media screen and (min-width: 1200px) {
    .column-pcc-1-12 {
        width: 8.3333333%;
    }
    .column-pcc-2-12 {
        width: 16.6666667%;
    }
    .column-pcc-3-12 {
        width: 25%;
    }
    .column-pcc-4-12 {
        width: 33.3333333%;
    }
    .column-pcc-5-12 {
        width: 41.6666667%;
    }
    .column-pcc-6-12 {
        width: 50%;
    }
    .column-pcc-7-12 {
        width: 58.3333333%;
    }
    .column-pcc-8-12 {
        width: 66.6666667%;
    }
    .column-pcc-9-12 {
        width: 75%;
    }
    .column-pcc-10-12 {
        width: 83.3333333%;
    }
    .column-pcc-11-12 {
        width: 91.6666667%;
    }
    .column-pcc-12-12 {
        width: 100%;
    }
    .column-pcc-2-8 {
        width: 25%;
    }
    .column-pcc-4-8 {
        width: 50%;
    }
    .cate-card {
        display: inline-block;
        background-color: white;
        float: left;
    }
    .cate-text{
       text-align: center;
    }
}